html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Red Hat Text', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
}
strong {
	font-weight: bold;
}

.principal {
    width: 100%;
}

.box-conteudo {
    max-width: 992px;
    margin: 0 auto;
}

.box-alerta {
	width: 100%;
    background: #242424;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 0;
}


.conteudo .box-texto {
    position: relative;
    background-color: #C7DFF1;;
    margin: 75px 0;
    padding: 25px 45px;
    border-radius: 50px;
}

.conteudo:nth-child(even) .box-texto {
    background-color: #FFC672;
}


.conteudo:nth-child(even) a.botao-conteudo {
    background-color: #C7DFF1;
    right: 52px;;
    left: auto;
}

.conteudo > div {
    display: inline-block;
    width: 45%;
    vertical-align: middle;
    text-align: center;
}

.conteudo > div:last-child:after {
    clear: both;
}

.box-imagem img {
    width: 50%;
}

a.botao-conteudo {
    display: inline-block;
    font-family: 'Red Hat Text';
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #000000;
    background-color: #FFC672;
    border-radius: 20px;
    padding: 10px 20px;
    position: absolute;
    left: 55px;
    bottom: 52px;
}

.box-texto {
    text-align: left !important;
}

.conteudo {
    position: relative;
}


@media (max-width: 576px) {
	.box-alerta {
		font-size: 15px;
	}

 }
