/* soft reset do css */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 /*page one*/
 body {
        font-family: 'Red Hat Text', sans-serif;
    }
#box-topo{
    background: url(../img/FOTOS-BACKGROUND.png) no-repeat;
    background-size: cover;
  }
h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    color: #393939;
}

#box-topo {
    display: flex;
    justify-content: center;
}

#retangulo1{
    margin-top: 45px;
    width: 775px;
    height: 496px;
    background: url(../img/arteheader.png);
    border-radius: 53px;
}

#retangulo2{
    position: absolute;
    width: 392px;
    height: 279px;
    left: 480px;
    top: 240px;
    background: #F0E8E8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
}

div#logo {
    position: absolute;
    width: 173px;
    height: 164px;
    left: 590px;
    top: 147px;
    background-image: url(../img/logo.png);
    z-index: 9999;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.input-name {
    width: 310px;
    height: 37px;
    background: #C4C4C4;
    border: 0;
    padding: 0 10px;
    outline: none;
}

.input-email {
    margin-top: 7px;
    width: 310px;
    height: 37px;
    background: #C4C4C4;
    border: 0;
    padding: 0 10px;
    outline: none;
}

.input-name {
    margin-top: 90px;

}

.obrigado {

    width: 226px;
    height: 50px;
    background: #FFC672;
    border: 0;
    font-style: normal;
    font-weight: bold;
    border-radius: 50px;
    font-size: 30px;
    line-height: 40px;
    font-feature-settings: 'ss01' on;

    margin-left: 35px;
    margin-top: 10px;
    
}

.formulario a {
    text-decoration: none;
    color: #292929;
}


.formulario {
    width: 100%;
    margin-left: 40px;
}


.spam {
    text-align: center;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
}
strong {
	font-weight: bold;
}

.principal {
    width: 100%;
}

.box-conteudo {
    max-width: 992px;
    margin: 0 auto;
}

.box-alerta {
	width: 100%;
    background: #242424;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 0;
}


.conteudo .box-texto {
    position: relative;
    background-color: #C7DFF1;;
    margin: 75px 0;
    padding: 25px 45px;
    border-radius: 50px;
}

.conteudo:nth-child(even) .box-texto {
    background-color: #FFC672;
}


.conteudo:nth-child(even) a.botao-conteudo {
    background-color: #C7DFF1;
    right: 52px;;
    left: auto;
}

.conteudo > div {
    display: inline-block;
    width: 45%;
    vertical-align: middle;
    text-align: center;
}

.conteudo > div:last-child:after {
    clear: both;
}

.box-imagem img {
    width: 50%;
}

a.botao-conteudo {
    display: inline-block;
    font-family: 'Red Hat Text';
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #000000;
    background-color: #FFC672;
    border-radius: 20px;
    padding: 10px 20px;
    position: absolute;
    left: 55px;
    bottom: 52px;
}

.box-texto {
    text-align: left !important;
}

.conteudo {
    position: relative;
}

.rodape > div * {
    display: block;
    text-align: center;
}

.rodape {
    max-width: 992px;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
    height: 40px;
}

.rodape >div {
    position: absolute;
    right: 0;
    font-size: 14px;
}
.rodape span{
    font-style: italic;
    font-weight: 500;
    color: #292929;
}
.rodape a{
    color: #292929;
}

@media (max-width: 576px) {
	.box-alerta {
		font-size: 15px;
	}
    div#retangulo2 {
        left: 0;
    }
        
    div#logo {
        left: 135px;
        width: 120px;
        top: 205px;
    }
 }

 /*page tks*/
 #retangulo2obrigado{
    position: absolute;
    width: 531px;
    height: 447px;
    left: 455px;
    top: 153px;
    background: #F0E8E8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
}
#parabens{
    position: absolute;
    width: 418px;
    height: 102px;
    left: 512px;
    top: 160px;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 66px;
    text-align: center;
    color: #1487C9;
}
#ebook{
    position: absolute;
    width: 487px;
    height: 191px;
    left: 477px;
    top: 220px;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 37px;
    text-align: center;
    font-feature-settings: 'ss01' on;
    color: #000000;
}

#baixar{
    position: absolute;
    width: 315px;
    height: 50px;
    left: 583px;
    top: 435px;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    color: #000000;
    background: #F2DC14;
    border-radius: 12px;
    text-decoration: none;
}

#boxredessociais{
    position: absolute;
    width: 433px;
    height: 40px;
    left: 504px;
    top: 500px;
    text-align: center;
}
div#boxredessociais p {
    padding: 0;
    margin: 0;
    font-family: 'Red Hat Text';
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 10px;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
}
#redessociais {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul#redessociais > li {
    display: inline-block;
    margin-left: 10px;
}
ul#redessociais  > li.instagram{
    margin-left: 0;
}

@media (min-width: 1200px){
    #landing{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
    }
}