.img-bg{
    position: absolute;
    width: 1440px;
    height: 798px;
    left: 2px;
    top: 0px;
}
h1 {
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #000000;
}

#retangulo1{
    position: absolute;
    width: 917px;
    height: 669px;
    left: 255px;
    top: 81px;
    background: #DDD5D5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
#chamada1{
    position: absolute;
    width: 852px;
    height: 140px;
    left: 288px;
    top: 99px;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #000000;
}
#chamada2{
    position: absolute;
    width: 780px;
    height: 37px;
    left: 360px;
    top: 211px;
}
h3 {
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
h3 span{
    color: #A30909;
    font-weight: bold;
}
div#logo {
    position: absolute;
    width: 173.61px;
    height: 164px;
    left: 635px;
    top: 237px;
    background-image: url(img/logo.png);
    z-index: 9999;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
}
#retangulo2{
    position: absolute;
    width: 478px;
    height: 341px;
    left: 483px;
    top: 309px;
    background: #F0E8E8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
}
#retangulo4{
    position: absolute;
    width: 341px;
    height: 41px;
    left: 545px;
    top: 466px;
    background: #C4C4C4;
}
#retangulo5{
    position: absolute;
    width: 341px;
    height: 41px;
    left: 545px;
    top: 528px;
    background: #C4C4C4;
    border: 0;
}
#retangulo6{
    position: absolute;
    width: 397px;
    height: 76px;
    left: 521px;
    top: 589px;
    background: #F1A430;
}

.input-form {
    position: absolute;
    width: 341px;
    height: 41px;
    left: 545px;
    top: 466px;
    background: #C4C4C4;
    border: 0;
    padding: 0 10px;
    outline: none;
}

input[type="email"].input-form {
    top: 528px;
}

button.btn-enviar {
    position: absolute;
    width: 397px;
    height: 76px;
    left: 521px;
    top: 589px;
    background: #F1A430;
    border: 0;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
}