body {
    background: url(img/FOTOS-BACKGROUND.png) no-repeat;
    background-size: 1400px 600px;
    font-family: 'Red Hat Text', sans-serif;
}

h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    color: #393939;
}

.box-topo {
    display: flex;
    justify-content: center;
}

#retangulo1{
    margin-top: 45px;
    width: 775px;
    height: 496px;
    background: url(img/arteheader.png);
    border-radius: 53px;
}

#retangulo2{
    position: absolute;
    width: 392px;
    height: 279px;
    left: 480px;
    top: 290px;
    background: #F0E8E8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
}

div#logo {
    position: absolute;
    width: 173px;
    height: 164px;
    left: 590px;
    top: 200px;
        background-image: url(img/logo.png);
        z-index: 9999;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 0 0;
}

.input-form {
    width: 310px;
    height: 37px;
    background: #C4C4C4;
    border: 0;
    padding: 0 10px;
    outline: none;
}

input[type="email"].input-form {
    top: 470px;
}

.btn-enviar {
    top: 502px;
    left: 910px;
    width: 226px;
    height: 50px;
    background: #FFC672;
    border: 0;
    font-style: normal;
    font-weight: bold;
    border-radius: 50px;
    font-size: 30px;
    line-height: 40px;
    font-feature-settings: 'ss01' on;
    color: #292929;
}

.formulario p{
    text-align: center;
}

.gratis{
    justify-content: flex-end;
    background-color: #000000;
    width: 100%;
    height: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    font-feature-settings: 'ss01' on;
    text-align: center;
    color: #fff;
    text-align: center;
}

#flex {
    margin-top: 15px;
    }

.conteudo {
    
    width: 700px;
    height: 420px;
    border-radius: 77px;
    width: 560px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    font-feature-settings: 'ss01' on;
    color: #292929;;
}

.icone {
    width: 50%;
}

.icone img {
    width: 70%;
}

.azul {
    background-color: #C7DFF1;
    padding: 30px;
}

.amarelo {
    background-color: #FFC672;
    padding: 30px;
}


.live, .apresentacao, .dicas {
    display:flex;
    justify-content: space-around;

}


.baixar {
    width: 225px;
    height: 50px;
    background-color: #FFC672;
    border-radius: 50px;
    border: none;
    display: flex;
    color: #000000;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
    top:-25px;
    left: 70px;
}

.flexend {
    
    display: flex;
    justify-content: flex-end;
    position: relative;
    top:-5px;
    left: -150px;
}

.mudar-cor {
    background-color: #C7DFF1;
}

.gratis-bottom, .subtitulo {
    text-align: center;
    color: #292929;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 34px;
}

.subtitulo {
    text-decoration: none;
    width: 350px;
    height: 50px;
    background-color: #FFC672;
    border-radius: 50px;
    border: none;
    display: flex;
    color: #000000;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    text-decoration: none;

}

.cta{
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: flex-end;
}



/* 


#chamada1{
    position: absolute;
    width: 852px;
    height: 140px;
    left: 288px;
    top: 99px;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #000000;
}
#chamada2{
    position: absolute;
    width: 780px;
    height: 37px;
    left: 360px;
    top: 211px;
}
h3 {
    position: absolute;
    width: 780px;
    height: 37px;
    left: 360px;
    top: 211px;
    font-weight: normal;
}
h3 span{
    color: #A30909;
    font-weight: bold;
}



.input-form {
    position: absolute;
    width: 341px;
    height: 41px;
    left: 545px;
    top: 418px;
    background: #C4C4C4;
    border: 0;
    padding: 0 10px;
    outline: none;
}

input[type="email"].input-form {
    top: 470px;
}

.btn-enviar {
    position: absolute;
    width: 397px;
    height: 76px;
    left: 521px;
    top: 524px;
    background: #F1A430;
    border: 0;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
}

.logo-form{
    position: absolute;
    width: 173.61px;
    height: 164px;
    left: 633px;
    top: 91px;
}

.subtitulo {
    font-family: "Red Hat Text";
    position: absolute;
    background: #F2DC14;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #000000;
    padding: 10px 15px;
}

#subtitulo1 {
        left: 219px;
        top: 1263px;
}

#subtitulo2 {
    left: 213px;
    top: 1461px;
}

#subtitulo3 {
    left: 219px;
    top: 1809px;
}

#chamada2 h3 {
    position: absolute;
    width: 1090px;
    height: 85px;
    left: 175px;
    top: 1725px;
} */

  /* Estilo PÃƒÆ’Ã‚Â¡gina Obrigado */
/* 
  #retangulo1obrigado{
    position: absolute;
    width: 917px;
    height: 669px;
    left: 255px;
    top: 81px;
    background: #DDD5D5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
#retangulo2obrigado{
    position: absolute;
    width: 531px;
    height: 379px;
    left: 456px;
    top: 261px;
    background: #F0E8E8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
}
#parabens{
    position: absolute;
    width: 418px;
    height: 102px;
    left: 512px;
    top: 250px;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 49px;
    text-align: center;
    color: #1487C9;
}
#ebook{
    position: absolute;
    width: 480px;
    height: 224px;
    left: 479.93px;
    top: 320px;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    color: #000000;
}

.img-bg img{
    position: absolute;
    width: 1440px;
    height: 798px;
    left: 2px;
    top: 0px;
}

.conteudo h2{
    position: absolute;
    width: 355px;
    height: 50px;
    left: 524px;
    top: 671px;
    font-family:'Red Hat Text';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #000000;
}
ul.icones {
    position: absolute;
    left: 350px;
    top: 690px;
    list-style: none;
}

ul.icones > li{
    display: inline-block;
}
.texto h2{
    position: absolute;
    width: 531px;
    height: 107px;
    left: 271px;
    top: 918px;
    font-family: 'Red Hat Text';
    color: #000000;
}


ul.icones > li p{
    padding:0;
    margin:0;
    text-align:center;
}
.texto1{
    position: absolute;
    width: 1040px;
    height: 1130px;
    left: 202px;
    top: 987px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}
.lista1{
    position: absolute;
    width: 1040px;
    height: 1130px;
    left: 202px;
    top: 1298px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #242424;
}
.lista2{
    position: absolute;
    width: 1040px;
    height: 1130px;
    left: 201px;
    top: 1507px;
    font-family: 'Red Hat Text';
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #242424;
}
.texto2{
    font-family:'Red Hat Text';
    font-size: 20px;
    position: absolute;
    width: 788px;
    height: 37px;
    left: 342px;
    top: 206px;
    font-weight: bold;
}
#barralateral{
    position: absolute;
    width: 141px;
    height: 1422px;
    left: 13px;
    top: 806px;
    background: #C7DFF1;
}
.stream{
    width: 192px;
    height: 154px;
}
.dicas{
    width: 163px;
    height: 143px;
}
.aula{
    width: 221px;
    height: 188px;
}
.icones p{
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    
    color: #000000;
}

#ebook a {
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    color: #000000;
    background: #F2DC14;
    padding: 0 15px;
    display: inline-block;
}
#boxredessociais{
    position: absolute;
    left: 568px;
    top: 539px;
    text-align: center;
}
div#boxredessociais p {
    padding: 0;
    margin: 0;
    font-family: 'Red Hat Text';
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 10px;
}
#redessociais {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul#redessociais > li {
    display: inline-block;
    margin-left: 10px;
}
ul#redessociais  > li.instagram{
    margin-left: 0;
}

@media only screen and (max-width: 600px) {
    .img-bg{
        width: 515px;
        height: 294px;
        left: -108px;
        top: 0px;
    }

    .img-bg img {
        width: 500px;
        height: 685px;
    }
    .conteudo h2 {
        left: 49px;
        top: 686px;
        font-size: 26px;
    }

    h1 {
        font-size: 17px;
        line-height: 22px;
    } 
    #retangulo1{
        width: 319px;
        height: 213px;
        left: 45px;
        background: #fff;     

    }
    #chamada1{
        width: 290px;
        height: 88px;
        left: 57px;
        top: 120px;
        font-size: 16px;
        line-height: 22px;
        text-align: center;    
    }

    #chamada2{
        width: 346px;
        height: 50px;
        left: 28px;
        top: 295px;
        font-size: 16px;
        line-height: 21px;
        text-align: center; 
    }

    div#logo {
        width: 99px;
        z-index: 9999;
        height: 94px;
        left: 150px;
        top: -20px;

    }

    #retangulo2{
        width: 338px;
        height: 218px;
        left: 28px;
            top: 309px;
        margin-top: 30px;
        
    }

    .input-form {
        width: 297px;
        height: 41px;
        left: 55px;
        top: 415px;
    }

    input[type="email"].input-form {
        top: 470px;
    }

    .btn-enviar {
        width: 258px;
        height: 59px;
        left: 75px;
        top: 530px;
        font-size: 20px;
        line-height: 26px;
    }

    #retangulo1obrigado{
        width: 329px;
        height: 563px;
        left: 16px;
        top: 51px;
    }

    #retangulo2obrigado{
        width: 329px;
        height: 563px;
        left: 16px;
        top: 51px;
        background: #FFFFFF;
    }
    .logo-form{
        position: absolute;
        width: 149px;
        height: auto;
        left: 101px;
        top: 4px;
        z-index: 99;
    }

    #parabens{
        width: 282px;
        height: 58px;
        left: 38px;
        top: 131px;
    }
    #ebook{
        width: 329px;
        height: 346px;
        left: 16px;
        top: 201px;
    }

    
    div#barralateral {
        display: none;
    }

    ul.icones {
        left: 40px;
        top: 731px;
    }
    ul.icones > li {
        display: block;
        text-align: center;
    }
    #chamada2 h3 {
        position: static;
        width: auto;
        height: auto;
        left: auto;
        top: auto;
        font-family: 'Red Hat Text', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
    }
    .texto1 {
        width: 347px;
        left: 40px;
        top: 1390px;
        height: auto;
    }
    .texto h2 {
        width: 347px;
        left: 40px;
        top: 1311px;
    }
    #subtitulo1 {
        left: 40px;
        top: 1986px;
    }
    .lista1 {
        width: 290px;
        height: auto;
        left: 40px;
        top: 2054px;
    }
    #subtitulo2 {
        left: 40px;
        top: 2328px;
    }
    .lista2 {
        width: 290px;
        height: auto;
        left: 40px;
        top: 2422px;
    }
    #subtitulo3 {
        left: 40px;
        top: 3229px;
    }
    .texto2 {
        width: 290px;
        height: auto;
        left: 40px;
        top: 3307px;
        text-align: center;
    }
    #boxredessociais {
        left: 31px;
        top: 478px;
        width: 300px;
    }
}

 */
